@font-face {
  font-family: "Hind-Bold";
  src: url("./Hind-Bold.ttf");
}

body {
  background-color: #202020;
}

.galery {
  width: 485px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: repeat(1, 467px);
  grid-gap: 40px;
}

.cell {
  display: flex;
  position: relative;
  background-color: #fff;
  width: auto;
  overflow: hidden;
}


.cover {
  width: 467px;
  height: 263px;
}


h1 {

  color: #ffd100;
  font-family: 'Hind-Bold', sans-serif;
  text-align: center;
  margin-top: 0px;
  font-size: 100px;
}

.titre_CM:hover {
  cursor: default;
}

/* Back button */ 

.go-back-link {
  display: block;
  margin: 0 30px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd100;
  position: relative;
}

.go-back-link:before, .go-back-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  display: block;
  width: 12px;
  height: 0;
  border-bottom: 2px solid #d6d6d6;
  transform-origin: left;
  transition: transform 0.3s ease;
}

.go-back-link:hover {

  border: 2px solid #d6d6d6;
}

.go-back-link:before {
  transform: rotate(-45deg);
  margin-bottom: -1px;
}
.go-back-link:after {
  transform: rotate(45deg);
  margin-top: -1px;
}