@font-face {
  font-family: "Hind-Bold";
  src: url("./Hind-Bold.ttf");
}

@font-face {
  font-family: "Jost-VariableFont_wght";
  src: url("Jost-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Spartan-Light";
  src: url("Spartan-Light.ttf");
}

body {
  background-color: #202020;

}


video::-webkit-media-controls-fullscreen-button {
display: none;
}
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
width: 15px;
height: 15px;
}
body::-webkit-scrollbar-track-piece  {
background-color: #202020;
}
body::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #4d4d4d;
}

.galery {
  width: 1000px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 40px;
}

.cell {
  display: flex;
  position: relative;
  background-color: #202020;
  width: auto;
  overflow: hidden;
}

h1 {

  color: #ffd100;
  font-family: 'Jost-VariableFont_wght', sans-serif;
  text-align: center;
  font-size: 70px;
  margin-top: 30px;
  margin-bottom: 90px;
  letter-spacing: 1vh;
}


.titre_logo:hover {
  cursor: default;
}


/* Gestion images */

.cover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%) blur(0px); 
  width: 300px;
  height: 300px;
  opacity: 0.3;
}


/* BOXES */

button {
  transition-duration: 0.2s;
  opacity: 1;
  color: #ffd100;
  background-color: #202020;
  font-size: 50px;
  font-family: 'Hind-Bold', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  text-decoration: none;
  transform: translate(-50%, -50%);
  outline: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

button:hover {
  background-color: #202020;
  transition-duration: 0.2s;
  color: #d6d6d6;
  cursor: pointer;
  font-size: 61px;
  height: 90px;
  width: 90px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 0%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(77,77,77,0.7); /* Black w/ opacity */
  backdrop-filter: blur(8px);
}

.modal-content {
  position: relative;
  background-color: #4d4d4d;
  margin: auto;
  padding: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.2s;
  animation-name: animatetop;
  animation-duration: 0.2s
}


.modal-body img {
  padding-top: 5%;
  padding-right: 35%;
  padding-left: 35%;
  display: inline-block;
  height: auto;
  width: 29%;
 }

 .modal-body1 img {
  padding-top: 5%;
  padding-right: 25%;
  padding-left: 25%;
  display: inline-block;
  height: auto;
  width: 49%;
 }

.modal-header {
  padding: 2px 16px;
  background-color: #202020;
  color: #d6d6d6;
}

.modal-body {
  position: absolute;
  height: auto;
  width: 100%; 
  padding-bottom: 20px;
}

.modal-body1 {
  position: absolute;
  height: auto;
  width: 100%; 
  padding-bottom: 20px;
}

.modal-header h2 {
   font-family: 'Jost-VariableFont_wght', sans-serif;
   margin-left: 2%;
}

.modal-header h2 span {
   font-family: 'Spartan-Light', sans-serif;
   color: #ffd100;
   margin-left: 1%;
   font-size: 20px;
}

.l1 {
  vertical-align: middle;
  height: 50px;
}

.close {
  margin-top: 4px;
  margin-right: 2%;
  color: #d6d6d6;
  float: right;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  transition-duration: 0.3s;
  color: #ad2831;
  text-decoration: none;
  cursor: pointer;
}

/* Back to top */

.back-to-top {
  visibility: hidden;
  background-color: #ffd100;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back-to-top .gg-chevron-up {
  
  size: 200px;
  color: #202020;
  margin-left: 28%;
  margin-top: 24%;
}

.back-to-top:hover {
  background-color: #d6d6d6;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}




/* Back button */ 

.go-back-link {
  display: block;
  margin: 0 30px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd100;
  position: relative;
}

.go-back-link:before, .go-back-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  display: block;
  width: 12px;
  height: 0;
  border-bottom: 2px solid #d6d6d6;
  transform-origin: left;
  transition: transform 0.3s ease;
}

.go-back-link:hover {

  border: 2px solid #ad2831;
  transition-duration: 0.6s;
}

.go-back-link:before {
  transform: rotate(-45deg);
  margin-bottom: -1px;
}
.go-back-link:after {
  transform: rotate(45deg);
  margin-top: -1px;
}


/* certif */

.certif {

  font-family: 'Spartan-Light', sans-serif;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 10px;
  color: #d6d6d6

}

.certif:hover {

  cursor: default;
}



