@font-face {
    font-family: "CabinetGrotesk-Black";
    src: url("fonts/CabinetGrotesk-Black.otf");
}
@font-face {
    font-family: "CabinetGrotesk-Bold";
    src: url("fonts/CabinetGrotesk-Bold.otf");
}
@font-face {
    font-family: "DrukWide-Heavy-Trial";
    src: url("fonts/DrukWide-Heavy-Trial.otf");
}
@font-face {
    font-family: "DrukWide-HeavyItalic-Trial";
    src: url("fonts/DrukWide-HeavyItalic-Trial.otf");
}
@font-face {
    font-family: "DrukWide-Bold-Trial";
    src: url("fonts/DrukWide-Bold-Trial.otf");
}
@font-face {
    font-family: "DrukWide-BoldItalic-Trial";
    src: url("fonts/DrukWide-BoldItalic-Trial.otf");
}
@font-face {
    font-family: "Gilkys";
    src: url("fonts/Gilkys.otf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #0c1514;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

body::-webkit-scrollbar-track-piece {
    background-color: #0c1514;
}

body::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #4d4d4d;
}

/*//////////////    NAV MENU    /////////////// */

header {
    z-index: 23;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s;
}

.nav {
    width: 100%;
    background-color: #0c1514;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    height: 80px;
}

.nav.hide {
    transform: translateY(-100%);
}

.nav ul {
    display: flex;
    margin: 0 auto;
}

.nav ul li {
    list-style: none;
    text-align: center;
}

.nav_text {
    background-color: #0c1514;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    padding: 0 15px;
    color: #e73b52;
    text-decoration: none;
    transition: .5s;
    font-size: 16px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    border-radius: 0px;
}

.nav_text:hover {
    background-color: white;
    color: #0c1514;
    border-radius: 0px;
}

.nav_text.active {
    background-color: white;
    color: #0c1514;
    border-radius: 0px;
}

.nav_text2 {
    background-color: #0c1514;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    padding: 0 15px;
    color: #e73b52;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    font-size: 16px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    border-radius: 0px;
}

.nav_text2.active {
    opacity: 1;
    color: #e73b52;
    background-color: #0c1514;
}

.nav_text2:hover {
    background-color: white;
    color: #0c1514;
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    font-size: 16px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    border-radius: 0px;
    opacity: 0.5;
}

.nav_text2.active {
    opacity: 1;
    color: #e73b52;
    background-color: #0c1514;
}

.nav_text2:hover {
    background-color: white;
    color: #0c1514;
    opacity: 1;
}


.nav-mobile {
    display: none;
}


/*//////////////    PAGE1    /////////////// */

#main {
    position: relative;
    overflow: hidden;
}



/*//////////////    PAGE2    /////////////// */

#page2 {
    z-index: 2;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #0c1514;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.margin_p2 {
    height: 80px;
    margin-top: 20px;
}

.box_p2 {
    display: block;
    margin: 0 auto;
    width: 88vw;
    height: auto;
    margin-bottom: 40px;
}

/*//////////////    MARQUEE    /////////////// */

.container_p2 {
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 88vw;
    height: 75px;
    cursor: default;
    position: relative;
    overflow: hidden;
    transition: .5s;
    border-radius: 0px;
}

.marquee {
    align-items: center;
    display: flex;
    animation: marquee 80s linear infinite;
    transition: .5s;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(1850px);
}

.marquee:nth-child(1) {
    animation-delay: -40s;
}

@keyframes marquee {
    0% {
        transform: translate(1850px);
    }
    100% {
        transform: translate(-1850px);
    }
}

.container_p2 img {
    z-index: 2;
    float: right;
    height: 75px;
}

/*//////////////    GRID    /////////////// */

.auto-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 961px) {
    .auto-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .auto-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.auto-grid li {
    height: 100%;
    list-style-type: none;
    text-align: center;
    color: white;
}

.auto-grid .item {
    position: relative;
}

.auto-grid video {
    width: 100%;
    height: auto;
    border-radius: 0px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0 2px white;
    transform: scale(0.99);
    margin-bottom: 10px;
}

.auto-grid video:hover {
    box-shadow: 0 0 0 10px white;
    transform: scale(0.95);
    cursor: pointer;
}

.auto-grid p {
    position: relative;
    font-size: 13px;
    width: 100%;
    text-align: left;
    color: #e73b52;
    font-family: 'DrukWide-BoldItalic-Trial', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}


.mentions {
    text-align: center;
    color: white;
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 130px;
}

/*//////////////    MODALS    /////////////// */

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(15,17,12, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal:hover {
    cursor: pointer;
}

.modal-content {
    background-color: #0c1514;
    margin: 0 auto;
    margin-top: 13vh;
    padding: 10px;
    border: 2px solid white;
    width: 47%;
    min-width: 300px;
    border-radius: 3px;
}

/* close button */

.close {
    color: #e73b52;
    float: right;
    font-size: 60px;
    margin-top: 20px;
    margin-right: 50px;
    font-weight: 600;
    transition: .3s;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 16px;
    color: white;
}

/*//////////////    FOOTER    /////////////// */

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 80px;
    background-color: #0c1514;
    border-top: 2px solid white;
    transition: bottom 0.5s ease;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.box_p3 {
    display: block;
    margin: 0 auto;
    width: 88vw;
    height: auto;
    
}

.footer_text {
    background-color: #0c1514;
    line-height: 35px;
    margin-right: 10px;
    display: block;
    float: right;
    color: #e73b52;
    text-decoration: none;
    transition: .5s;
    font-size: 16px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    border-radius: 2px;
}

.footer_text:hover {
    background-color: #0c1514;
    color: white;
    border-radius: 2px;
}

.footer_insta {
    background-color: #0c1514;
    line-height: 35px;
    margin-right: 10px;
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    transition: .5s;
    font-size: 25px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    border-radius: 2px;
}

.footer_insta:hover {
    background-color: #0c1514;
    color: #e73b52;
    border-radius: 2px;
}



/*//////////////    RESPONSIVE    /////////////// */

@media only screen and (min-width: 1920px) {

    /* NAV MENU */
    .nav {
        height: 95px;
    }
    .nav_text {
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0 20px;
        font-size: 18px;
    }
    .nav_text2 {
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0 20px;
        font-size: 18px;
    }
    .nav_text2:hover {
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0 20px;
        font-size: 18px;
    }
    /* PAGE2 */
    #page2 {
        padding-top: 5px;  
    }
    .margin_p2 {
        height: 95px;
    }
    .box_p2 {
        margin-bottom: 40px;
    }
    /* MARQUEE */

    .container_p2 {
        height: 90px;
    }
    .marquee {
        transform: translate(2220px);
    }  
    @keyframes marquee {
        0% {
            transform: translate(2220px);
        }
        100% {
            transform: translate(-2220px);
        }
    }
    .container_p2 img {
        height: 90px;
    }
    /* GRID */
    .auto-grid {
        grid-gap: 15px 25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .auto-grid p {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #categorie1,
    #categorie2,
    #categorie3,
    #categorie4,
    #categorie5,
    #categorie6 {
        font-size: 15px;
    }
    .mentions {
        font-size: 13px;
    }
    /* FOOTER */
    footer {
        height: 90px;
        padding: 10px;
    }
    .footer_text {
        line-height: 35px;
        margin-right: 10px;
        font-size: 18px;
    }
    .footer_insta {
        line-height: 35px;
        margin-right: 10px;
        font-size: 28px;
    }
}

/* phone */

@media (max-width: 480px) {
    .nav {
        display: flex;
        margin-right: 15px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        border-bottom: 2px solid white;
        z-index: 1;
    }
    
    .nav-mobile {
        display: block;
        color: #e73b52;
        font-family: 'DrukWide-Heavy-Trial', sans-serif;
        font-size: 18px;
        padding: 17px 15px;
        margin-left: 15px;
    }

    .burger {
        margin-left: auto;
        font-size: 30px;
        cursor: pointer;
        display: flex; 
        height: 80px;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        color: white;
        flex-direction: column;
        gap: 6px;
    }

    .burger span {
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        transition: 0.3s ease;
        display: block;
    }

    .burger.cross span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
        background-color: #e73b52;
    }

    .burger.cross span:nth-child(2) {
        opacity: 0;
    }

    .burger.cross span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
        background-color: #e73b52;
    }

    .nav ul li {
        border-top: 2px solid white;
        margin: 0px 0px;
        height: 70px;
        width: 100%; 
    }

    .nav_text, .nav_text2 {
        display: block;
        font-size: 18px;
        padding: 17px 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #navLinks {
        position: absolute;
        top: 80px;
        height: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid white;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    #navLinks.show {
        display: flex;
        height: 210px;
    }





    #page1 {
        z-index: 1;
        position: relative;
        margin-top: 0px;
        height: 20vh;
        width: 100%;
        background: url(ELEMENTS/test.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #page2 {
        z-index: 2;
        position: relative;
        width: 100%;
        background-color: #0c1514;
        border-bottom: 2px solid white;
        margin-top: 80px;
    }

    
    .margin_p2 {
        height: 0px;
    }

    .margin_p3 {
        height: 80px;
        margin-top: 20px;
    }
    
    .container_p2 {
        background-color: white;
        display: block;
        margin: 0 auto;
        width: 88vw;
        height: 35px;
        cursor: default;
        position: relative;
        overflow: hidden;
        transition: .5s;
        border-radius: 0px;
    }
    
    .marquee {
        align-items: center;
        display: flex;
        animation: marquee 80s linear infinite;
        transition: .5s;
        position: absolute;
        left: 0;
        transform: translate(865px);
        top: 0;
    }
    
    .marquee:nth-child(1) {
        animation-delay: -40s;
    }
    
    @keyframes marquee {
        0% {
            transform: translate(865px);
        }
        100% {
            transform: translate(-865px);
        }
    }

    .container_p2 img {
        z-index: 2;
        float: right;
        height: 35px;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    .auto-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .mentions {
        margin-bottom: 0px;
    }
    
    .play-icon {
        font-size: 6vh !important;
        color: #e73b52;
        position: absolute;
        top: 11vh;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: transform 0.5s ease, color 0.5s ease;
        z-index: 10;
        text-shadow: 
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
    }

    .close {
        color: #e73b52;
        float: right;
        font-size: 60px;
        margin-top: 16vh;
        margin-right: 50px;
        font-weight: 600;
        transition: .3s;
    }
}

/* tablet */

@media (min-width: 961px) {
    
}
