@font-face {
  font-family: "Hind-Bold";
  src: url("./Hind-Bold.ttf");
}

body {
  background-color: #202020;
}

.galery {
  width: 1000px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 40px;
}
.cell {

  margin: 0 auto;
  display: flex;
  position: relative;
  background-color: #202020;
  width: auto;
  overflow: hidden;
}


.cover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%) blur(0px); 
  width: 300px;
  height: 300px;
  opacity: 0.5;
}

.cover:hover {
     -webkit-filter: grayscale(0%); 
  filter: grayscale(0%) blur(0px);
  opacity: 1; 

}

h1 {

  color: #ffd100;
  font-family: 'Hind-Bold', sans-serif;
  text-align: center;
  font-size: 100px;
  margin-top: 0px;
}


.titre_logo:hover {
  cursor: default;
}

/* Back to top */

.back-to-top {
  visibility: hidden;
  background-color: #ffd100;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back-to-top .gg-chevron-up {
  
  size: 200px;
  color: #202020;
  margin-left: 28%;
  margin-top: 24%;
}

.back-to-top:hover {
  background-color: #d6d6d6;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}


/* Back button */ 

.go-back-link {
  display: block;
  margin: 0 30px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd100;
  position: relative;
}

.go-back-link:before, .go-back-link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  display: block;
  width: 12px;
  height: 0;
  border-bottom: 2px solid #d6d6d6;
  transform-origin: left;
  transition: transform 0.3s ease;
}

.go-back-link:hover {

  border: 2px solid #d6d6d6;
}

.go-back-link:before {
  transform: rotate(-45deg);
  margin-bottom: -1px;
}
.go-back-link:after {
  transform: rotate(45deg);
  margin-top: -1px;
}





