@font-face {
  font-family: "Hind-Bold";
  src: url("./Hind-Bold.ttf");
}

body {
  background-color: #202020;
}

.galery {
  width: 1000px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 40px;
}
.cell {
  display: flex;
  position: relative;
  background-color: #fff;
  width: auto;
  overflow: hidden;
}


.cover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
  width: 300px;
  height: 300px;
}

.cover:hover {
     -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
}

h1 {

  color: #ffd100;
  font-family: 'Hind-Bold', sans-serif;
  text-align: center;
  margin-top: 52px;
  font-size: 100px;
}

/* Back to top */

.back-to-top {
  visibility: hidden;
  background-color: #ffd100;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back-to-top .gg-chevron-up {
  
  size: 200px;
  color: #202020;
  margin-left: 28%;
  margin-top: 24%;
}

.back-to-top:hover {
  background-color: #d6d6d6;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}







