@font-face {
    font-family: "CabinetGrotesk-Black";
    src: url("fonts/CabinetGrotesk-Black.otf");
}
@font-face {
    font-family: "CabinetGrotesk-Bold";
    src: url("fonts/CabinetGrotesk-Bold.otf");
}
@font-face {
    font-family: "DrukWide-Heavy-Trial";
    src: url("fonts/DrukWide-Heavy-Trial.otf");
}
@font-face {
    font-family: "DrukWide-Bold-Trial";
    src: url("fonts/DrukWide-Bold-Trial.otf");
}
<<<<<<< HEAD
=======

@font-face {
    font-family: "Oswald-VariableFont_wght";
    src: url("fonts/Oswald-VariableFont_wght.ttf");
}
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd
@font-face {
    font-family: "DrukWide-BoldItalic-Trial";
    src: url("fonts/DrukWide-BoldItalic-Trial.otf");
}
<<<<<<< HEAD
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("fonts/Gilroy-SemiBold.ttf");
}
=======
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #0c1514;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

body::-webkit-scrollbar-track-piece {
    background-color: #0c1514;
}

body::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #4d4d4d;
}



/*//////////////    CONTAINER    /////////////// */

.container {
    width: 88vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.first-box {
    display: grid;
    grid-template-columns: 2.05fr 1fr; 
    grid-template-rows: auto; 
    grid-gap: 0px 25px;
    width: 100%;
}

.video-container {
<<<<<<< HEAD
    background-color: black;
=======
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd
    box-shadow: 0 0 0 2px white;
    width: 100%;
    height: auto;
    position: relative;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; 
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.text-explanation {
    color: white;
<<<<<<< HEAD
    font-family: "Gilroy-SemiBold", sans-serif;
    font-size: 14px;
    width: 100%;
}

.text-explanation span {
    color: #e73b52;
    font-family: "Gilroy-SemiBold", sans-serif;
=======
    font-family: "Oswald-VariableFont_wght", sans-serif;
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd
    font-size: 14px;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: left; 
    gap: 15px; 
    margin: 5px 0; 
}

.logo {
    width: 35px;
    height: auto; 
}

/* buttons */ 

.button {
    position: relative;
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    background-color: #e73b52;
    line-height: 35px;
    padding: 0 5px;
    color: #0c1514;
    text-decoration: none;
    font-size: 16px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    width: auto;
    overflow: hidden; 
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    text-align: right; 
    padding-right: 20px;
}

<<<<<<< HEAD
.button:hover{
    color: #0c1514;
    background-color: white;
}

.button::before {
    content: ""; 
    position: absolute;
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%) scale(1); 
    border-style: solid;
    border-width: 8px 9px 8px 0; 
    border-color: transparent #0c1514 transparent transparent; 
    transition: border-color 0.5s ease-in-out;
}

.button::after {
    content: ""; 
    position: absolute;
    top: 50%; 
    left: 15px;
    transform: translateY(-50%);
    height: 5px; 
    width: calc(100% - 175px); 
    background-color: #0c1514; 
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button:hover::before {
    border-color: transparent #0c1514 transparent transparent; 
}

.button:hover::after {
    background-color: #0c1514; 
}

=======
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd
.button2 {
    position: relative;
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    background-color: white;
    line-height: 35px;
    padding: 0 5px;
    color: #0c1514;
    text-decoration: none;
    font-size: 16px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    width: auto;
    overflow: hidden; 
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    text-align: left; 
    padding-left: 20px;
}

.button2:hover {
    color: #0c1514;
    background-color: white;
    opacity: .5;
}

<<<<<<< HEAD
=======
.button:hover{
    color: #0c1514;
    background-color: white;
}

.desktop-button {
    display: block;
}

.responsive-button {
    display: none; 
}

.button::before {
    content: ""; 
    position: absolute;
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%) scale(1); 
    border-style: solid;
    border-width: 8px 9px 8px 0; 
    border-color: transparent #0c1514 transparent transparent; 
    transition: border-color 0.5s ease-in-out;
}

.button::after {
    content: ""; 
    position: absolute;
    top: 50%; 
    left: 15px;
    transform: translateY(-50%);
    height: 5px; 
    width: calc(100% - 200px); 
    background-color: #0c1514; 
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button:hover::before {
    border-color: transparent #0c1514 transparent transparent; 
}

.button:hover::after {
    background-color: #0c1514; 
}


>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd
.button2::before {
    content: ""; 
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%) scale(1); 
    border-style: solid;
    border-width: 8px 0 8px 9px;  
    border-color: transparent transparent transparent #0c1514;
    transition: border-color 0.5s ease-in-out;
}

.button2::after {
    content: ""; 
    position: absolute;
    top: 50%; 
    right: 15px; 
    transform: translateY(-50%);
    height: 5px; 
<<<<<<< HEAD
    width: calc(100% - 270px); 
=======
    width: calc(100% - 250px); 
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd
    background-color: #0c1514; 
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.button2:hover::before {
    border-color: transparent transparent transparent #0c1514;
}

.button2:hover::after {
    background-color: #0c1514; 
}

<<<<<<< HEAD
.desktop-button {
    display: block;
}

.responsive-button {
    display: none; 
}
=======
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd

@media (max-width: 980px) {
    .first-box {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 25px;
    }

    .responsive-button {
        display: block;
        width: 100%; 
    }
    
    .desktop-button {
        display: none; 
    }

    .video-container {
        grid-row: 2; 
        width: 100%;
    }

    .text-container {
        grid-row: 3;
        width: 100%;
    }
    
    .button {
        line-height: 45px;
    }

    .button2 {
        line-height: 45px;
    }
}


/*//////////////    GRID    /////////////// */

.auto-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#categorie2, #mytext2{
    position: relative;
    font-size: 13px;
    color: #e73b52;
    float: right;
    font-family: 'DrukWide-BoldItalic-Trial', sans-serif;
}

@media (min-width: 980px) {
    .auto-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.auto-grid li {
    height: 100%;
    list-style-type: none;
    text-align: center;
    color: white;
}

.auto-grid .item {
    position: relative;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box1 img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    /* filter: grayscale(100%) contrast(60%) brightness(120%); */
    box-shadow: 0 0 0 2px white;
    transform: scale(0.99);
    margin-bottom: 10px;
}

.mentions {
    text-align: center;
    color: white;
    font-size: 12px;
<<<<<<< HEAD
=======
    text-decoration: underline;
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd
    margin-bottom: 130px;
}


/*//////////////    FOOTER    /////////////// */

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 80px;
    background-color: #0c1514;
    border-top: 2px solid white;
    transition: bottom 0.5s ease;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.box_p3 {
    display: block;
    margin: 0 auto;
    width: 88vw;
    height: auto;
    
}

.footer_text {
    background-color: #0c1514;
    line-height: 35px;
    margin-right: 10px;
    display: block;
    float: right;
    color: #e73b52;
    text-decoration: none;
    transition: .5s;
    font-size: 16px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    border-radius: 2px;
}

.footer_text:hover {
    background-color: #0c1514;
    color: white;
    border-radius: 2px;
}

.footer_insta {
    background-color: #0c1514;
    line-height: 35px;
    margin-right: 10px;
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    transition: .5s;
    font-size: 25px;
    font-family: 'DrukWide-Heavy-Trial', sans-serif;
    border-radius: 2px;
}

.footer_insta:hover {
    background-color: #0c1514;
    color: #e73b52;
    border-radius: 2px;
}


/*//////////////    RESPONSIVE    /////////////// */

@media only screen and (min-width: 1920px) {
    
    .container {
        width: 88vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .first-box {
        grid-template-columns: 2fr .98fr; 
        grid-gap: 0px 30px;
    }

    .text-container {
        gap: 25px;
    }


    /* GRID */
    .auto-grid {
        grid-gap: 15px 25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .auto-grid p {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #categorie2, #mytext2 {
        font-size: 15px;
    }
    .mentions {
        font-size: 13px;
    }
    
    .button,
    .button2 {
        line-height: 40px;
        font-size: 18px;
    }
    .button:hover,
    .button2:hover {
        line-height: 40px;
        font-size: 18px;
    }
    

    .button::after {
<<<<<<< HEAD
        width: calc(100% - 190px); 
    }
    .button2::after {
        width: calc(100% - 300px); 
=======
        width: calc(100% - 220px); 
    }
    .button2::after {
        width: calc(100% - 275px); 
>>>>>>> 15aa98b2e51d9f05b395e149ed168e4051ba83cd
    }

    .logo-container {
        display: flex;
        justify-content: left; 
        gap: 15px; 
        margin: 5px 0; 
    }
    
    .logo {
        width: 40px;
        height: auto; 
    }


     /* FOOTER */
    footer {
        height: 90px;
        padding: 10px;
    }
    .footer_text {
        line-height: 35px;
        margin-right: 10px;
        font-size: 18px;
    }
    .footer_insta {
        line-height: 35px;
        margin-right: 10px;
        font-size: 28px;
    }
}

@media (max-width: 480px) {


    .margin_p3 {
        height: 80px;
        margin-top: 40px;
    }
    
    .mentions {
        margin-bottom: 0px;
    }

    .button {
        line-height: 55px;
    }

    .button2 {
        line-height: 55px;
    }

}