@font-face {
  font-family: "Jost-VariableFont_wght";
  src: url("Jost-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Spartan-Light";
  src: url("Spartan-Light.ttf");
}


html {
  scroll-behavior: smooth;
  background-color: #202020;
}

body::-webkit-scrollbar {
width: 15px;
height: 15px;
}

body::-webkit-scrollbar-track-piece  {
background-color: #202020;
}

body::-webkit-scrollbar-thumb {
height: 30px;
background-color: #4d4d4d;
}

html, body
{
    margin: 0px;
    padding:  0px;
}

header
{
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: white;
}

@media screen and (min-width: 913px) {
       
       header {
          background: url('header.jpg') no-repeat center center;
          background-size: cover;

       }
    }



/* CONTENT */



html {
    font: 0.75em/1.5 sans-serif;
    background: #000;
}


.tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
}

    .tabs__item {
        width: 100%;
        float: left;
    }

    @media screen and (min-width: 913px) {
        .tabs__item {
          display: table-cell; /* [4] */
          float: none;
          width: auto;
        }
    }

        .tabs__link {
            display: block; /* [5] */
        }


/**
 * Primary nav. Extends `.tabs`.
 *
 * 1. Stop tabs’ corners leaking out beyond our 4px round.
 */
.primary-nav {
    text-align: center;
    border-radius: 0;
    overflow: hidden; /* [1] */
}

        .primary-nav a {
            background: rgba(0,0,0,.5);
            padding: 10vh 2em;
            background: #202020;
            color: #d6d6d6;
            text-decoration: none;
            font-family: 'Jost-VariableFont_wght', sans-serif;
            font-weight: 400;
            letter-spacing: 5px;
            font-size: 2vh;
        }

        .primary-nav a:hover {
            color: #202020;
            background: #ffd100;
        }

         @media screen and (max-width: 913px) {

             .primary-nav a {
            padding: 6vh 2em;
        }
          }
/


.media {
  height: 100vh;
  position: relative;
}

.media2 {
  width: 100%;
 position: absolute;
 bottom: 5vh;

}
  

header i {

  color: #d6d6d6;
  background-color: #202020;
  border-radius: 100%;
  padding: 15px;
  margin-left: 8px;
  margin-right: 8px;
}

header i:hover {

  color: #202020;
  background-color: #ffd100;

}



/* Loader */

.loader-wrapper {
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202020;
  display:flex;
  justify-content: center;
  align-items: center;
}

#camera-body,
#reel-1,
#reel-2 {
  fill: #d6d6d6;
  fill-opacity: 0.95;
  stroke: none;
}

.chargement {
  text-align: center;
  margin-top: 140px;
  font-family: 'Jost-VariableFont_wght', sans-serif;
  position: absolute;
  font-size: 25px;
  color: #d6d6d6;
}




/* Back to top */

.back-to-top {
  visibility: hidden;
  background-color: #ffd100;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back-to-top .gg-chevron-up {
  
  size: 200px;
  color: #202020;
  margin-left: 28%;
  margin-top: 24%;
}

.back-to-top:hover {
  background-color: #d6d6d6;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}



