@font-face {
  font-family: "Hind-Bold";
  src: url("Hind-Bold.ttf");
}

@font-face {
  font-family: "Jost-VariableFont_wght";
  src: url("Jost-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Ananda";
  src: url("Ananda.ttf");
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
width: 15px;
height: 15px;
}

body::-webkit-scrollbar-track-piece  {
background-color: #202020;
}

body::-webkit-scrollbar-thumb {
height: 30px;
background-color: #4d4d4d;
}


#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}


header
{
  width: 100%;
  height: 100%;
  background: url("header.gif") no-repeat 50% 50%;
  background-size: cover;
  top: 0;
  position: fixed;
  z-index: -1;
  background-color: #202020;


}

.header {
  z-index: 1000;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 32px;
  line-height: 120px;
  height: 120px;
  background-color: #202020;
  font-family: 'Ananda', serif;
  
}

.header a {
  color: #4d4d4d;
  margin-right: 20px;
  margin-left: 20px;
}

.header a:hover {
  color: #d6d6d6;
}

footer
{
  background-color: #202020;
  width: 100%;
  height: 320px;
  background-position: center;
  background-size: cover;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}


.blank2{
  background-color: #4d4d4d;

}

.content
{
  height: 100vh;
  min-height: 700px;
  background: #202020;
  position: relative;
  z-index: 5;
  /*border: 5px solid #4d4d4d;
  border-style: solid none;*/ 

}

.content #cata {
  font-family: 'Ananda', serif;
  color: #ffd100;
  position: absolute;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 40px;
  z-index: 10;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}



.content h1{
  line-height: 1000px;
  color: #999;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

header a{
  
  text-decoration: none;
}

footer p{
  font-family: 'Jost-VariableFont_wght', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}

:root {
  --white: #d6d6d6;
}

header a{
  
  text-decoration: none;
}

footer p{
    font-family: 'Jost-VariableFont_wght', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}

/* header features */


.slide-buttons li{
  position: relative;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin: 60px 0;
  display: block;
  list-style: none;
}

.slide-buttons li a{
  position: relative;
  font-family: 'Hind-Bold', sans-serif;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
  opacity: 1;
  color: #ffd100;
}

.slide-buttons li a:hover{
  text-decoration: none;
  cursor: default;
}





/* Slider */

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}




.content a {
  text-decoration: none;
  color: #4d4d4d;
}

.content a:hover {
  color: #d6d6d6;
}


.content {
  font-family: "Hind-Bold", sans-serif;
  font-size: 100%;
}

ul li {
  list-style-type: none;
}

.slider--teams {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 2000px;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.slider--teams .slider--teams__team {
  position: relative;
  overflow: hidden;
  height: 100%;
}

#list {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
#list li {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
}
#list li figure {
  cursor: pointer;
  opacity: 0.5;

  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
  transform: scale(0.5) translateZ(0px);
}
#list li figure:hover {
  opacity: 0.8;
  transform: scale(0.6) translateZ(0px);
}
#list li figure:active {
  opacity: 1;


}
#list li figure > div {
  margin: 0 auto;
  width: 50vh;
  height: 50vh;
  overflow: hidden;
 
}
#list li figure > div > div {
  background-position: 0px 0px;
  width: 100%;
  height: 100%;
}

#list li figure figcaption h2 {
  text-align: center;
  margin-top: 20px;
  color: #d6d6d6;
  font-size: 30px;

}


#list li:nth-child(1) figure > div > div {
  background-position: 0px 0px !important;
  background: url("A.png") no-repeat;
  background-size: cover;
  border: 2px solid #4d4d4d; 
 

}
#list li:nth-child(2) figure > div > div {
  background-position: 0px 20% !important;
  background: url("B.png") no-repeat;
  background-size: cover;
  border: 2px solid #4d4d4d; 
  
}
#list li:nth-child(3) figure > div > div {
  background-position: 0px 40% !important;
  background: url("C.png") no-repeat;
  background-size: cover;
  border: 2px solid #4d4d4d; 
 
}
#list li:nth-child(4) figure > div > div {
  background-position: 0px 60% !important;
  background: url("D.png") no-repeat;
  background-size: cover;
  border: 2px solid #4d4d4d; 
 
}
#list li:nth-child(5) figure > div > div {
  background-position: 0px 80% !important;
  background: url("E.png") no-repeat;
  background-size: cover;
  border: 2px solid #4d4d4d; 
  
}
#list li:nth-child(6) figure > div > div {
  background-position: 0px 100% !important;
  background: url("F.png") no-repeat;
  background-size: cover;
  border: 2px solid #4d4d4d; 
  
}

#list li:nth-child(7) figure > div > div {
  background-position: 0px 0px !important;
  background: url("G.png") no-repeat;
  background-size: cover;
  border: 2px solid #4d4d4d; 
  
}

.active {
  opacity: 1 !important;
  transform: scale(1) translateZ(0px) !important;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Footer */

footer img{
  display: block;
  width: 120px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

footer .mailto {
 
  text-align: center;
  margin-top: 20px;
}

footer .CV {
 
  text-align: center;
  margin-top: 0px;
  font-size: 10px;
}

footer a {
  
  font-size: 19px;
  color: #ffd100;
  text-decoration: none;
}


footer a:hover {

  color: #d6d6d6;
}


header p {
  display: block;
  color: white;
  z-index: -1;
}

.certif {

  text-align: center;
  font-size: 10px;

}

.certif:hover {

  cursor: default;
}


/* brouillon */


.draft img {  

  width: 100%;
  height: auto;
  background-size: cover;
  backdrop-filter: blur(8px);

}

/* 
background: url("draft.png") no-repeat 50% 50%;
*/

