@font-face {
  font-family: "Jost-VariableFont_wght";
  src: url("Jost-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Spartan-Light";
  src: url("Spartan-Light.ttf");
}


html {
  scroll-behavior: smooth;
  background-color: #202020;
}

body::-webkit-scrollbar {
width: 15px;
height: 15px;
}

body::-webkit-scrollbar-track-piece  {
background-color: #202020;
}

body::-webkit-scrollbar-thumb {
height: 30px;
background-color: #4d4d4d;
}


/* scroll down */

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 9vh;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 4vh;
  height: 4vh;
  border-bottom: 1vh solid #ffd100;
  border-right: 1vh solid #ffd100;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* CONTENT */


html, body
{
    margin: 0px;
    padding:  0px;
    
}

header
{
  width: 100%;
  height: 100vh;
	text-align: center;
	background-color: #4d4d4d;
  background: url('header.gif') no-repeat center center;
 background-size: cover;
}

.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}

.content{
  display: table-cell;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(black, 0.5) ;
}

header h1{
  margin-top: 8vh;
  font-size: 8vh;
  color: #ffd100;
  font-family: 'Jost-VariableFont_wght', sans-serif;
  letter-spacing: .4em;
}


div.container1
{ 
  padding-top: 15vh;
  padding-bottom: 15vh;
	text-align: center;
  background: url('presentation_banner.png') center center;
  background-size: auto 100%;
  background-color: #4d4d4d;
}

div.container1 a
{	
	font-family: 'Spartan-Light', sans-serif;
	font-size: 3vh;
  text-align: center;
  color: #d6d6d6;
  text-decoration: none;
  line-height:  5vh;
}

div.container1 a span
{ 
  font-family: 'Spartan-Light', sans-serif;
  font-size: 3vh;
  text-align: center;
  color: #ffd100;
  text-decoration: none;
  line-height:  5vh;
}


div.container
{ 
  padding-top: 12vh;
  padding-bottom: 12vh;
	text-align: center;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #202020;


}

div.container a
{   
    font-family: 'Jost-VariableFont_wght', sans-serif;
    color: #d6d6d6;
    text-decoration: none;
    font-size: 4vh;
    margin: 40px;
    position: relative;
    cursor: pointer;
    
}

div.container a:hover {

	color: #ffd100;
	transition-duration: 0.3s;
  font-size: 4vh;
}


.red
{
    background: ²;
}

.purple
{
    background: #4d4d4d;
}

div.container2
{ 
  padding-top: 4vh;
  padding-bottom: 4vh;
  text-align: center;
  background-image: url('lab_banner.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ad2831;
}

#containershad1  {
  box-shadow: 0 -20px 30px rgba(32, 32, 32, .5);
}

footer  {
  box-shadow: inset 0 20px 30px rgba(32, 32, 32, .5);
}


div.container3
{ 
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  background-color: ;
  background-image: ;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #202020;

}

div.container3 a
{   
    font-family: 'Jost-VariableFont_wght', sans-serif;
    color: #ffd100;
    text-decoration: none;
    font-size: 7vh;
    margin: 30px;
    position: relative;
    cursor: pointer;
    
}

div.container3 a:hover {

  color: #d6d6d6;
  transition-duration: 0.3s;
}


/* CONTENT */


/* Footer */
footer {
  background-color: #4d4d4d;
  background: url('footer.png') no-repeat center center;
 background-size: cover;
 padding-bottom: 5vh;
}

footer img{
  display: block;
  width: 22vh;
  height: auto;
  padding-top: 13vh;
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
}

footer .mailto {
 
  text-align: center;
  margin-bottom: 1vh;
}

footer .CV {
 
  text-align: center;
  margin-top: 2.5vh;
}

footer a {
  font-family: 'Jost-VariableFont_wght', sans-serif;
  font-size: 3.5vh;
  color: #ffd100;
  text-decoration: none;
}


footer a:hover {

  color: #4d4d4d;
  transition-duration: 0.3s;
}

/* certif */ 

footer p {
  font-family: 'Spartan-Light', sans-serif;
}

.certif {

  margin-top: 10vh;
  text-align: center;
  font-size: 1.5vh;
  color: #d6d6d6;
}

.certif:hover {

  cursor: default;
}




/* Loader */

.loader-wrapper {
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202020;
  display:flex;
  justify-content: center;
  align-items: center;
}

#camera-body,
#reel-1,
#reel-2 {
  fill: #d6d6d6;
  fill-opacity: 0.95;
  stroke: none;
}

.chargement {
  text-align: center;
  margin-top: 140px;
  font-family: 'Jost-VariableFont_wght', sans-serif;
  position: absolute;
  font-size: 25px;
  color: #d6d6d6;
}


/* Back to top */

.back-to-top {
  visibility: hidden;
  background-color: #ffd100;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back-to-top .gg-chevron-up {
  
  size: 200px;
  color: #202020;
  margin-left: 28%;
  margin-top: 24%;
}

.back-to-top:hover {
  background-color: #d6d6d6;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}



/* MOBILE */

@media all and (max-device-width: 1024px)
{
    .desktop {
        display: none;
    }
}

@media all and (min-device-width: 1025px)
{
    .mobile {
        display: none;
    }
}

.mobile p {

  font-family: 'Jost-VariableFont_wght', sans-serif;
    color: #ffd100;
    text-decoration: none;
    font-size: 7.5vh;
    left: 0;
    line-height: 160px;
    position: absolute;
    text-align: center;
    top: 17%;
    width: 100%;

}
